<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      var displayTime = function(secs) {
        function zeroPad(n) {
          s = n.toString()
          var zeros = Math.max(0, 2 - s.length);
          return '0'.repeat(zeros) + s;
        }
        var minutes = Math.floor(secs/60);
        var seconds = secs % 60;
        return zeroPad(minutes) + ':' + zeroPad(seconds);
      };
      var onStartGame = function(socket) {
        $('#startgame').after(
          $('<div/>', {'id': 'started'}).text('The game has started!'),
          $('<div/>', {'id': 'countdown'})).remove();
        socket.on('changescore', function(data) {
          $score = $('td').filter(function() {
            return this.innerHTML === data.username
          }).next();
          $score.text(parseInt($score.text()) + data.amount);
        });
        socket.on('timer', function(data) {
          $('#countdown').text(displayTime(data.countdown) + ' left!');
        });
        socket.on('end', function() {
          $('#started').remove();
          $('#countdown').remove();
          $('#gamecode').after($('<div/>').text('The game of EMPFAHL has ended!'));
        });
      };
      var onCreateGame = function(socket, answer) {
        if(answer.success) {
          document.title = 'DASHBOARD FOR GAME ' + answer.gameid.toString();
          $('body').empty().append(
            $('<div/>', {'id': 'gamecode'}).text('The EMPFAHL gamecode is ' + answer.gameid.toString() + '.'),
            $('<input/>', {'id': 'startgame', 'type': 'button', 'value': 'START THE GAME!!'}),
            $('<table/>', {'id': 'userlist'}).append($('<tr/>').append(
              $('<th/>').text('Username'),
              $('<th/>').text('Score'))));
          socket.on('join', function(data) {
            $('#userlist').append($('<tr/>').append(
              $('<td/>').text(data.username),
              $('<td/>').text('0')));
          });
          $('#startgame').click(function() {
            socket.emit('startgame', {gameid: answer.gameid}, function() {
              onStartGame(socket);
            });
          });
        } else {
          $('#questions_err').text(answer.error);
        }
      };
      $(document).ready(function() {
        var socket = io();
        $('#questions').click(function() {
          socket.emit('creategame', {data: $('#questions_data').val()}, function(answer) {
            onCreateGame(socket, answer);
          });
        });
      });
    </script>
    <title>CREATE YOUR EMPFAHL GAME</title>
  </head>
  <body>
    <h1>ENTER SOME QUESTIONS SO YOUR STUDENTS CAN STOP SCREAMING ALREADY</h1>
    <form>
      Questions (have one question on each line, and separate the question and answer with &gt;|&lt;):<br>
      <textarea id="questions_data" style="width:100%" rows=15>Is this example good?&gt;|&lt;This example is very good.
What about this one?&gt;|&lt;Only pretty good.</textarea><br>
      <input id="questions" type="button" value="CREATE MY GAME!">
      <p id="questions_err" style="color: red;"></p>
    </form>
    <a href="{{ url_for('index') }}">BACK TO HOME</a>
  </body>
</html>
