<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      var onSubmitAnswer = function(socket) {
        socket.emit('answerquestion', {'gameid': gameid, 'qid': data.qid, 'username': username, 'answer': $('#useranswer').val()}, function(answer) {
          if (answer.success) {
            $('body').empty().append($('<div/>').html('Correct!'),
              $('<input/>', {'id': 'nextquestion', 'type': 'button', 'value': 'NEXT QUESTION'}));
            $('#nextquestion').click(function() {
              $('body').empty();
                loadGamePage(socket, gameid, username);
            });
          } else {
            $('body').empty().append($('<div/>').html('Nope sorry, the correct answer was "' + answer.correctanswer + '".'),
              $('<input/>', {'id': 'nextquestion', 'type': 'button', 'value': 'NEXT QUESTION'}));
            $('#nextquestion').click(function() {
              $('body').empty();
                loadGamePage(socket, gameid, username);
            });
          }
        });
      };
      var loadGamePage = function(socket, gameid, username) {
        socket.emit('getquestion', {'gameid': gameid, 'username': username}, function(answer) {
          $('body').append($('<div/>').html(answer.question),
            $('<form/>').append(
              $('<input/>', {'id': 'useranswer', 'type': 'text'}),
              $('<input/>', {'id': 'answerquestion', 'type': 'button', 'value': 'SUBMIT ANSWER'})),
            $('<div/>').html('Score: ' + answer.score));
          $('#answerquestion').click(function() {
            onSubmitAnswer(socket);
          });
        });
      };
      var onJoinGame = function(socket, answer) {
        if(answer.success) {
          $('body').empty().append($('<div/>').html('Waiting for the game to start...'));
          socket.on('start', function() {
            $('body').empty().append($('<div/>').html('The game has started!'));
            loadGamePage(socket, answer.gameid, answer.username);
          });
        } else {
          $('#joingame_err').html(answer.error);
        }
      };
      $(document).ready(function() {
        var socket = io();
        $('#joingame').click(function() {
          socket.emit('joingame', {gameid: $('#gamecode').val(), username: $('#username').val()}, function(answer) {
            onJoinGame(socket, answer);
          });
        });
      });
    </script>
    <title>JOIN AN EMPFAHL GAME</title>
  </head>
  <body>
    <h1>ENTER YOUR GAME CODE AND USERNAME SO WE CAN START ALREADY</h1>
    <form>
      Gamecode: <input id="gamecode" type="text"><br>
      Username: <input id="username" type="text"><br>
      <input id="joingame" type="button" value="JOIN THIS GAME!!">
      <p id="joingame_err" style="color:red;"></p>
    </form>
    <a href="{{ url_for('index') }}">BACK TO HOME</a>
  </body>
</html>
